body {
    margin: 0;
    font-family: "Roboto", "Montserrat", sans-serif;
    position: relative; /* Make body a positioning context */
}
.header {
    padding: 20px;
    text-align: center;
    background-color: #455d7a; /* Slightly lighter green */
    align-items: center;
}
body {
    font-weight: 300; /* Adjust font weight to make it thinner */
}

/* Apply to specific elements if needed */
h1, h2, h3, h4, h5, h6 {
    font-weight: 300; /* Adjust font weight for headings */
}

p, span, a, button {
    font-weight: 300; /* Adjust font weight for paragraphs, spans, links, and buttons */
}
.logo {
    float: left;
    text-align: left;
    margin-left: -10px;
    margin-top: -10px;
}
.nav {
    display: inline-block;
}
.nav button {
    background-color: #455d7a; /* Slightly lighter green */
    border: none;
    color: white;
    padding: 5px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px; /* Larger font size */
    font-weight: bold; /* Bolder font weight */
    margin: 4px 2px;
    cursor: pointer;
    transition: font-size 0.3s ease;
}
.nav button:hover {
    font-size: 22px; /* Larger font size on hover */
}
.banner {
    width: 100%;
    height: 650px;
    padding: 0;
    position: relative;
    display: flex;
    background-image: url('../images/businessimage.jpg');
    background-size: cover;
    background-position: center;
    color: white;
}
.banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.4); /* Green tint */
}
.form-container {
    width: 50%;
    padding: 20px; /* Adjusted padding */
    box-sizing: border-box;
    text-align: center;
    position: relative;
    z-index: 1;
}
.banner-text {
    width: 50%;
    padding: 20px; /* Adjusted padding */
    box-sizing: border-box;
    text-align: center;
    position: relative;
    z-index: 1;
}
.form-container {
    background-color: white;
    margin: 4vh;
    border-radius: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(128, 128, 128, 0.6); 
}
.banner-text {
    background-color: white;
    margin-top: 10vh;
    border-radius: 10px;
    background-color: rgba(128, 128, 128, 0.0); 
    padding-top: 4vh;
    text-align: center;
    display: inline-block;
    justify-content: center;
}
.form-container h2 {
    margin-top: 2vh;
    margin-bottom: 1vh;
    font-size: 45px;
    color: white; /* Adjusted title color */
    font-stretch:semi-expanded;
}
.form-container input {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    font-weight: bold;
}
.form-container button {
    width: 70%;
    padding: 10px; /* Increased padding */
    background-color: #455d7a; /* Green background color */
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px; /* Adjust font size */
    margin-top: 2vh;
}
.form-container button:hover {
    background-color: #233142; /* Darker green on hover */
}

.bottom-banner {
    background-color: rgba(128, 128, 128, 0.6); /* Gray color */
    color: white; /* Adjusted title color */
    text-align: center;
    padding: 20px;
    position: relative;
}

.bottom-banner p {
    margin: 10px 0; /* Adjusted margin */
    font-size: 18px; /* Adjusted font size */
    text-align: left;
}
.box-container {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.box {
    width: 22%;
    background-color: whitesmoke; /* Changed to white */
    padding: 30px;
    text-align: center;
    border-radius: 0px;
    margin: 2vw;
    position: relative;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Added shadow */
}
.box:hover {
    
    background-color: lightgray;
}
.box h3 {
    margin-top: 0;
    color: #233142; /* Changed to black */
    font-weight: bold;
}

.box a {
    background-color: #455d7a; /* Changed to green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
    font-weight: bold;
}
.box button:hover {
    background-color: #233142;
}
.box a:hover {
    background-color: #233142;
}
.section-header {
    text-align: center;
    margin-bottom: 20px;
    
}
.bottom-banner p {
    font-size: 20px;
}
.section-header h2 {
    margin: 0;
    font-size: 30px;
    font-weight: bold;
}
.white-line {
    width: 100%;
    height: 2px;
    background-color: white;
    margin-bottom: 20px;
}
.contact-number {
    position: absolute;
    padding-top: 10px;
    right: 20px;
    color: white;
    font-size: 20px;
    font-weight: bold; /* Bolder font weight */
    align-items: center;            
    cursor: pointer;
}
.box img {
    width: 50px; /* Adjust width of the image */
    height: 50px; /* Adjust height of the image */
    margin-bottom: 10px; /* Adjust spacing between image and text */
}
.footer {
    position:static;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #455d7a; /* Your footer background color */
    color: white; /* Text color */
    padding: 10px 0;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.footer p {
    margin: 0;
}

.left-content,
.right-content {
    flex: 1;

}
.right-content {
    text-align: right;
    margin-right: 15px;
}
.left-content {
    text-align: left;
    margin-left: 15px;
}
.center-content {
    flex: 2;
    text-align: center;
    padding-left: 60px;
}
.right-content {
    
    top: 0;
    right: 20px;
    color: white;
    font-size: 20px;
    font-weight: bold; /* Bolder font weight */
    
}
.header1 {
    background-color: white;
    color: grey;
    text-align: center;
    padding: 10px 0;
    padding-top: 10px;
    margin-bottom: 20px;
    font-size: 24px;
}
.headerbox {
    text-align: center;
    color: #233142;;
    font-size: 40px;
    margin-bottom: -10px;

    font-weight: bold;
}

.header1 h1 {
    margin: 0;
    font-size: 40px;
    font-weight: bold;
    color: #233142;
}
.header1 p {
    font-size: 20px;
    padding-left: 50px;
    padding-right: 50px;
}
/* Style the tabs */
    .tabs {
        border-bottom: 2px solid white; /* Add border line only at the bottom */
    }

    /* Style the tab buttons */
    .tab {
        background-color: transparent; /* No background color */
        border: none; /* Remove default button border */
        outline: none; /* Remove default focus outline */
        cursor: pointer;
        padding: 10px 15px;
        margin: 0;
        font-size: 24px;

        border-bottom: 2px solid transparent; /* Add border line only at the bottom */
    }

    /* Change the color of tab button on hover */
    .tab:hover {
        border-bottom: 2px solid white; /* Change border color on hover */
    }

    /* Style the tab content */
    .tabcontent {
        display: none; /* Hide tab content by default */
        padding: 20px;
        border: 2px solid white; /* Add border around tab content */
        border-top: none; /* Remove top border */
    }
    .tabs button {
        color: white;
    
    }

    .list {
        color: white;
        font-weight: bold;
    }
    .slideshow-container {
        position: relative;
        max-width: 100%;
        margin: auto;
        background-color: whitesmoke; 
        text-align: center;
        padding-bottom: 20px;
        padding-top: 20px;
    }
    .slideshow-container h2 {
        color:  #233142;
        font-weight: bold;
        font-size: 40px; 
    }
    .slideshow-container p {
        color: grey;
        padding-bottom: 15px;
        padding-right: 30px;
        padding-left: 30px;
        font-size: 20px;
    }

    .mySlides {
        display: none;
    }

    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -22px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
        background-color: rgba(0, 0, 0, 0.8);
    }

    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }

    .prev:hover, .next:hover {
        background-color: rgba(0, 0, 0, 0.5);
    }

    .text {
        color: #f2f2f2;
        font-size: 15px;
        padding: 8px 12px;
        position: absolute;
        bottom: 8px;
        width: 100%;
        text-align: center;
    }

    .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
    }

    .dots {
        text-align: center;
        margin-top: 20px;
    }

    .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }

    .active, .dot:hover {
        background-color: #717171;
    }
    
    .contact-info {
        position: absolute;
        top: -25%; /* Adjust as needed to position the popup directly over the contact number */
        left: 90%;
        transform: translateX(-90%);
        background-color: #233142;
        padding: 10px;
        color: #ffffff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
        display: none;
        z-index: 2; /* Ensure contact info appears above other content */
        }

    .contact-number:hover  .contact-info {
        display: block;
    }
    @media screen and (max-width: 900px) {
        .logo {
            float: none;
            text-align: center;
            margin-left: 0;
            margin-top: 0;
        }
        .nav {
            display: block;
            text-align: center;
        }
        .banner {
            width: 100%;
            height: 750px;
            padding-bottom: 100px;
        }
        .nav button {
            background-color: #455d7a; /* Slightly lighter green */
            border: none;
            color: white;
            padding: 5px 35px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 20px; /* Larger font size */
            font-weight: bold; /* Bolder font weight */
            margin: 4px 2px;
            cursor: pointer;
            transition: font-size 0.3s ease;
        }
        .nav a {
            color: #455d7a;
        }
        .nav button {
            display: block;
            margin: 0 auto;
        }
        .footer {
            display: block;
            text-align: center;
        }
        .right-content,
        .left-content,
        .center-content {
            text-align: center;
        }
        .right-content {
            margin-right: 0;
        }
        .left-content {
            margin-left: 0;
        }
        .contact-number {
            position: static;
            display: block;
            text-align: center;
            margin: 0 auto;
        }
        .contact-info {
            position: static;
            display: none;
        }
        .contact-number:hover  .contact-info {
            display: inline;
            float: none;
            text-align: center;
            margin-left: 0;
            margin-top: 0;
            background-color: #455d7a;
            box-shadow: none;
        }
        .box-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        .box {
            width: 80%; /* Adjusted width for two boxes per row */
            background-color: whitesmoke;
            padding: 30px;
            text-align: center;
            border-radius: 5px;
            margin: 10px;
            position: relative;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
            cursor: pointer; /* Added cursor pointer */
            font-size: 20px;
        }
        .banner {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        .form-container {
            width: 80%;
            
            
            text-align: center;
            
            z-index: 1;
        }
        .banner-text {
            display: none;
        }
        .form-container h2 {
            padding-top: 6vh;
            
            font-size: 45px;
            color: white; /* Adjusted title color */
            font-stretch:semi-expanded;
        }
        .form-container input {
            width: calc(100% - 20px);
            padding: 10px;
            margin: 10px 0;
            box-sizing: border-box;
            font-weight: bold;
        }
        .form-container button {
            width: 70%;
             /* Increased padding */
            background-color: #455d7a; /* Green background color */
            color: white;
            border: none;
            border-radius: 3px;
            cursor: pointer;
            font-size: 16px; /* Adjust font size */
            margin-top: 3vh;
        }
    }